#logo{
    height: 87px;
    width: 280px;
    vertical-align: middle;
}
.navbar ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
} 
.navbar li{
    float: right;
    margin-right: 20px;
    padding: 0%;
    font-size: larger;
    margin-top: 50px;
    
}
.navbar a{
    text-decoration: none;
    display: block;
    color: black;
    float: left;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.navbar :hover{
    background-color: rgb(48, 215, 48);
}
body{
    background-color:lightgreen;
}
*{
    margin: 0;
}